In [2]:
urls = []
platform = ['fd','dk','yh']
for plat in platform:
    for year in range(17,22):
        if year <=20:
            for week in range (1,18):
                url = f'http://rotoguru1.com/cgi-bin/fyday.pl?week={week}&year=20{year}&game={plat}&scsv=1'
                urls.append(url)
        else:
            for week in range (1,6):
                url = f'http://rotoguru1.com/cgi-bin/fyday.pl?week={week}&year=20{year}&game={plat}&scsv=1'
                urls.append(url)
print(urls)

['http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2017&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2018&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2019&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2020&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2021&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2021&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2021&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2021&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2021&game=fd&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2017&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2018&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2019&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2020&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2021&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2021&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2021&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2021&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2021&game=dk&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2017&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2018&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2019&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=6&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=7&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=8&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=9&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=10&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=11&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=12&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=13&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=14&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=15&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=16&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=17&year=2020&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=1&year=2021&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=2&year=2021&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=3&year=2021&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=4&year=2021&game=yh&scsv=1', 'http://rotoguru1.com/cgi-bin/fyday.pl?week=5&year=2021&game=yh&scsv=1']

In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

from matplotlib import pyplot as plt
plt.style.use('ggplot')

import seaborn as sns

import re

In [83]:
data_2020 = pd.read_csv('Weeks_2020.csv')

data_2020.head()

,week,Oppt,DKP,Price,FDP,Price_f,YHP,Price_y,Name,Team,Pos
0,1,nyj,33.18,6500.0,28.18,7900.0,28.18,31.0,Josh Allen,Buffalo Bills,QB
1,2,@ mia,37.48,6700.0,34.48,8200.0,34.48,35.0,Josh Allen,Buffalo Bills,QB
2,3,lar,36.24,6900.0,32.24,8100.0,32.24,36.0,Josh Allen,Buffalo Bills,QB
3,4,@ lvr,25.42,7300.0,25.42,8600.0,25.42,40.0,Josh Allen,Buffalo Bills,QB
4,5,@ ten,18.32,7500.0,18.32,8400.0,18.32,37.0,Josh Allen,Buffalo Bills,QB

In [5]:
data_2020.shape[0]

9551

In [91]:
data_2020.dtypes

week         int64
Oppt        object
DKP        float64
Price      float64
FDP         object
Price_f    float64
YHP         object
Price_y    float64
Name        object
Team        object
Pos         object
dtype: object

In [59]:
def col_str_to_float(df, col):
    df[col] = [val.replace('.', '0').strip() if val == '.' else val for val in df[col]]
    df[col]  = [val.replace('', '0').strip() if val == '' else val for val in df[col]]
    df[col]  = [val.replace('. 0', '0').strip() if val == '. 0' else val for val in df[col]]


    df[col] = df[col].apply(lambda s : str(s).replace('.-', '-.').strip())
    # = [(val.replace('.-', '-.').strip()) for val in data_2020['FDP']]
    df[col] = [float(val) for val in df[col]]

In [16]:

#[val.replace('.', np.nan).strip() if val == '.' else val for val in data_2020['FDP']]
# data_2020['FDP'] = [val.replace('', '0').strip() if val == '' else val for val in data_2020['FDP']]
# data_2020['FDP'] = [val.replace('. 0', '0').strip() if val == '. 0' else val for val in data_2020['FDP']]


# data_2020['FDP'] = data_2020['FDP'].apply(lambda s : str(s).replace('.-', '-.').strip())
# # = [(val.replace('.-', '-.').strip()) for val in data_2020['FDP']]
# data_2020['FDP'] = [float(val) for val in data_2020["FDP"]]
#data_2020.dtypes

[28.18,
 34.48,
 32.24,
 25.42,
 18.32,
 16.08,
 16.38,
 13.46,
 36.0,
 28.86,
 16.48,
 30.1,
 19.32,
 37.66,
 32.3,
 20.26,
 21.82,
 15.7,
 18.06,
 20.9,
 26.86,
 32.0,
 24.16,
 24.24,
 14.12,
 31.36,
 33.12,
 20.44,
 16.56,
 23.42,
 26.76,
 26.8,
 20.44,
 27.48,
 40.0,
 20.24,
 30.7,
 20.6,
 12.0,
 36.64,
 30.88,
 22.52,
 31.28,
 19.32,
 21.62,
 25.86,
 20.22,
 0.0,
 27.3,
 33.14,
 24.7,
 23.12,
 27.3,
 28.92,
 38.1,
 37.92,
 30.9,
 20.26,
 8.9,
 17.42,
 18.46,
 34.14,
 16.38,
 3.78,
 30.76,
 18.7,
 24.52,
 29.58,
 5.8,
 27.32,
 22.54,
 28.9,
 26.4,
 22.74,
 25.64,
 23.5,
 30.9,
 18.32,
 26.14,
 26.0,
 31.78,
 34.42,
 36.8,
 21.9,
 25.48,
 32.92,
 28.74,
 24.1,
 11.92,
 20.08,
 14.4,
 16.02,
 23.14,
 13.04,
 19.9,
 18.14,
 21.2,
 33.9,
 38.2,
 19.4,
 15.9,
 18.8,
 20.8,
 13.4,
 31.3,
 10.5,
 5.7,
 16.7,
 18.9,
 16.9,
 54.7,
 0.0,
 34.6,
 5.1,
 0.0,
 0.0,
 9.1,
 38.1,
 26.8,
 28.3,
 14.6,
 20.1,
 15.1,
 29.1,
 21.0,
 7.7,
 37.7,
 13.6,
 22.46,
 9.68,
 23.88,
 33.46,
 14.12,
 14.64,
 36.86,
 19.06,
 5.36,
 31.84,
 14.64,
 23.7,
 15.64,
 23.4,
 29.92,
 31.26,
 0.0,
 23.24,
 15.7,
 24.0,
 27.36,
 38.48,
 23.22,
 23.44,
 21.48,
 27.74,
 17.44,
 6.36,
 16.72,
 27.96,
 16.72,
 32.98,
 14.6,
 8.4,
 26.0,
 18.8,
 39.4,
 14.2,
 17.2,
 6.8,
 11.4,
 19.7,
 37.5,
 5.4,
 35.2,
 24.2,
 9.8,
 35.0,
 21.3,
 16.1,
 24.9,
 27.6,
 17.4,
 nan,
 47.6,
 38.2,
 13.2,
 22.5,
 8.2,
 20.9,
 18.0,
 24.4,
 15.5,
 0.0,
 19.36,
 26.76,
 13.24,
 30.0,
 29.56,
 17.3,
 18.32,
 14.62,
 10.78,
 22.86,
 19.14,
 28.56,
 16.48,
 37.02,
 18.34,
 28.44,
 27.5,
 17.56,
 14.18,
 26.02,
 14.5,
 28.24,
 16.82,
 18.6,
 22.46,
 17.54,
 0.0,
 26.68,
 34.92,
 30.22,
 21.32,
 25.22,
 12.6,
 25.3,
 12.9,
 14.5,
 15.6,
 13.6,
 7.8,
 12.2,
 16.3,
 20.3,
 7.4,
 14.2,
 24.1,
 20.2,
 37.0,
 11.1,
 22.76,
 1.52,
 21.44,
 14.9,
 15.16,
 26.72,
 10.4,
 20.8,
 18.58,
 22.96,
 26.18,
 22.4,
 17.1,
 20.34,
 23.64,
 34.3,
 13.1,
 19.3,
 18.7,
 14.4,
 16.8,
 4.0,
 14.5,
 23.8,
 28.6,
 21.5,
 51.4,
 11.8,
 24.6,
 14.4,
 8.5,
 0.0,
 14.0,
 19.5,
 11.7,
 8.5,
 20.8,
 19.0,
 4.6,
 20.9,
 20.9,
 22.86,
 12.2,
 23.6,
 23.6,
 18.8,
 19.3,
 0.0,
 24.9,
 28.52,
 12.42,
 12.4,
 7.94,
 31.64,
 17.52,
 18.94,
 23.36,
 7.28,
 14.9,
 12.92,
 10.26,
 27.84,
 19.9,
 22.7,
 22.1,
 16.8,
 18.7,
 7.6,
 22.1,
 8.3,
 19.3,
 4.5,
 22.2,
 7.6,
 8.0,
 15.2,
 18.1,
 25.5,
 8.8,
 5.5,
 13.56,
 21.58,
 15.44,
 20.44,
 24.98,
 20.26,
 12.58,
 14.0,
 7.16,
 22.6,
 1.6,
 32.74,
 25.84,
 2.12,
 23.24,
 22.94,
 29.4,
 26.4,
 14.2,
 0.0,
 17.6,
 15.9,
 17.4,
 5.7,
 0.0,
 11.5,
 14.0,
 13.3,
 22.4,
 27.3,
 14.8,
 6.6,
 7.5,
 22.3,
 1.9,
 11.3,
 13.3,
 14.0,
 5.3,
 10.7,
 5.2,
 18.3,
 4.3,
 38.5,
 11.0,
 25.5,
 13.7,
 22.2,
 3.6,
 5.9,
 27.0,
 12.3,
 3.8,
 35.1,
 4.1,
 7.9,
 17.5,
 16.1,
 22.5,
 22.8,
 7.9,
 14.4,
 11.5,
 17.8,
 22.06,
 19.24,
 19.18,
 21.36,
 10.98,
 15.62,
 15.28,
 25.04,
 29.32,
 17.68,
 13.54,
 19.2,
 15.48,
 7.7,
 25.48,
 0.0,
 17.5,
 17.2,
 17.0,
 12.6,
 24.3,
 3.3,
 34.1,
 20.3,
 3.8,
 12.1,
 22.7,
 10.5,
 15.1,
 6.8,
 8.9,
 3.6,
 17.18,
 17.16,
 18.5,
 23.34,
 13.32,
 18.4,
 23.44,
 10.44,
 23.04,
 7.62,
 17.1,
 27.08,
 14.36,
 15.28,
 0.68,
 23.62,
 25.7,
 35.58,
 12.18,
 0.0,
 19.98,
 2.82,
 18.36,
 24.56,
 16.82,
 19.2,
 5.96,
 23.56,
 5.36,
 12.16,
 9.76,
 37.98,
 11.5,
 23.98,
 28.24,
 11.7,
 25.36,
 15.92,
 16.86,
 12.2,
 10.48,
 25.04,
 5.02,
 24.14,
 15.58,
 16.26,
 10.66,
 0.0,
 9.8,
 4.8,
 23.3,
 19.6,
 14.0,
 7.8,
 9.0,
 17.7,
 11.6,
 7.3,
 23.4,
 10.5,
 22.8,
 10.3,
 15.3,
 4.7,
 7.9,
 20.2,
 6.4,
 9.2,
 15.4,
 11.7,
 9.4,
 11.5,
 3.7,
 0.0,
 22.8,
 25.1,
 23.0,
 28.7,
 19.1,
 23.7,
 13.2,
 16.2,
 32.5,
 4.9,
 6.4,
 45.5,
 5.3,
 6.0,
 9.1,
 17.2,
 3.8,
 9.3,
 7.7,
 5.4,
 5.9,
 27.0,
 15.6,
 43.6,
 15.6,
 19.6,
 11.6,
 nan,
 0.0,
 10.4,
 12.0,
 15.1,
 9.5,
 22.3,
 8.5,
 23.3,
 11.8,
 16.5,
 10.86,
 16.26,
 14.34,
 15.2,
 17.58,
 7.26,
 30.78,
 7.78,
 5.38,
 7.06,
 18.42,
 28.96,
 31.02,
 20.98,
 8.0,
 16.24,
 19.4,
 10.68,
 14.6,
 27.24,
 20.82,
 11.44,
 19.16,
 13.04,
 28.3,
 20.04,
 0.0,
 14.88,
 20.42,
 16.92,
 9.58,
 5.74,
 9.5,
 19.5,
 27.9,
 12.7,
 7.5,
 13.3,
 29.7,
 15.9,
 12.2,
 10.4,
 24.4,
 19.8,
 10.3,
 12.8,
 0.0,
 nan,
 28.0,
 4.6,
 10.8,
 22.2,
 24.8,
 12.6,
 4.2,
 4.8,
 18.3,
 28.3,
 0.0,
 17.5,
 5.4,
 8.1,
 19.7,
 7.7,
 11.9,
 18.0,
 12.7,
 8.4,
 14.4,
 13.5,
 4.1,
 8.4,
 4.7,
 13.4,
 0.0,
 21.0,
 29.5,
 17.5,
 19.4,
 37.9,
 16.82,
 11.86,
 12.68,
 11.2,
 7.62,
 25.74,
 22.28,
 8.08,
 16.32,
 22.42,
 18.8,
 19.2,
 17.76,
 17.02,
 11.8,
 11.36,
 6.7,
 19.9,
 13.2,
 21.7,
 12.6,
 1.5,
 4.7,
 14.0,
 8.4,
 16.7,
 13.4,
 18.5,
 7.1,
 14.0,
 35.1,
 6.1,
 6.4,
 0.0,
 0.0,
 17.7,
 20.1,
 24.3,
 10.4,
 18.1,
 2.6,
 14.2,
 23.8,
 8.7,
 20.7,
 12.9,
 6.3,
 26.1,
 5.7,
 13.1,
 23.7,
 10.2,
 9.9,
 17.5,
 17.2,
 20.8,
 11.4,
 26.5,
 14.0,
 7.3,
 15.7,
 2.1,
 0.0,
 nan,
 14.9,
 10.3,
 18.9,
 6.7,
 15.1,
 12.0,
 4.0,
 24.9,
 6.1,
 24.6,
 12.3,
 13.5,
 5.6,
 18.6,
 6.9,
 5.6,
 13.1,
 13.0,
 13.1,
 27.4,
 3.1,
 17.4,
 12.0,
 1.0,
 10.0,
 11.1,
 20.2,
 13.8,
 13.1,
 1.3,
 14.1,
 7.1,
 3.0,
 12.0,
 3.8,
 0.0,
 26.1,
 17.3,
 9.5,
 15.8,
 6.9,
 10.5,
 11.0,
 9.0,
 0.0,
 8.9,
 23.6,
 34.1,
 33.9,
 12.0,
 7.8,
 8.8,
 21.5,
 4.6,
 12.8,
 13.3,
 27.6,
 12.9,
 3.9,
 0.0,
 8.9,
 18.9,
 6.9,
 20.9,
 7.5,
 10.3,
 6.6,
 1.4,
 1.8,
 10.5,
 17.4,
 11.8,
 19.6,
 7.1,
 7.8,
 21.6,
 6.8,
 22.2,
 3.4,
 34.0,
 21.9,
 8.3,
 14.3,
 4.8,
 1.6,
 13.0,
 10.2,
 18.3,
 18.2,
 3.9,
 13.7,
 6.3,
 14.5,
 1.0,
 20.1,
 15.5,
 26.2,
 19.2,
 14.8,
 16.5,
 23.0,
 8.0,
 5.6,
 7.8,
 7.9,
 18.4,
 2.4,
 11.5,
 6.9,
 0.0,
 15.9,
 13.6,
 22.5,
 13.4,
 8.0,
 13.9,
 15.5,
 9.7,
 10.4,
 7.3,
 10.8,
 4.1,
 8.1,
 17.4,
 13.7,
 3.0,
 13.4,
 5.5,
 8.6,
 22.0,
 10.6,
 16.8,
 4.1,
 10.9,
 18.5,
 21.0,
 13.7,
 10.9,
 12.7,
 2.4,
 3.4,
 11.2,
 0.0,
 13.5,
 6.7,
 19.2,
 0.9,
 0.3,
 0.0,
 24.5,
 1.1,
 11.1,
 20.6,
 17.1,
 8.6,
 17.1,
 6.0,
 15.9,
 17.7,
 11.1,
 5.1,
 25.8,
 23.5,
 4.3,
 nan,
 nan,
 nan,
 0.0,
 18.6,
 11.4,
 25.1,
 17.1,
 23.3,
 13.6,
 15.1,
 16.8,
 14.4,
 15.48,
 23.52,
 16.54,
 22.1,
 23.68,
 19.6,
 22.68,
 6.94,
 0.0,
 0.0,
 0.0,
 0.0,
 20.36,
 10.14,
 20.04,
 8.4,
 14.5,
 9.1,
 22.7,
 16.4,
 9.9,
 0.1,
 6.6,
 13.1,
 14.6,
 4.6,
 7.6,
 7.1,
 17.0,
 21.9,
 7.1,
 7.4,
 16.0,
 7.5,
 6.9,
 17.3,
 11.8,
 23.3,
 6.5,
 2.8,
 17.6,
 18.3,
 8.1,
 0.0,
 16.2,
 6.2,
 12.6,
 7.8,
 9.5,
 13.0,
 10.7,
 8.3,
 12.5,
 16.7,
 3.4,
 5.4,
 22.4,
 8.3,
 23.5,
 6.6,
 15.2,
 3.2,
 0.0,
 5.7,
 16.3,
 2.9,
 39.1,
 16.1,
 0.3,
 10.7,
 11.3,
 19.3,
 13.9,
 8.2,
 4.8,
 3.0,
 6.3,
 7.4,
 18.6,
 10.1,
 23.1,
 13.4,
 19.1,
 16.8,
 6.7,
 17.7,
 8.3,
 14.7,
 8.6,
 6.2,
 7.2,
 26.0,
 4.3,
 12.7,
 4.6,
 6.8,
 4.9,
 7.2,
 6.3,
 8.9,
 0.0,
 14.3,
 19.4,
 22.3,
 2.7,
 17.4,
 10.2,
 12.5,
 6.8,
 18.3,
 15.6,
 15.0,
 14.38,
 23.5,
 22.42,
 19.42,
 29.42,
 28.76,
 10.62,
 8.72,
 16.4,
 19.8,
 4.96,
 0.0,
 nan,
 nan,
 nan,
 6.0,
 10.5,
 21.2,
 15.2,
 9.1,
 2.6,
 8.9,
 16.5,
 7.5,
 20.0,
 5.1,
 11.3,
 11.8,
 6.4,
 10.6,
 0.0,
 5.4,
 11.7,
 11.5,
 20.8,
 7.6,
 7.5,
 18.8,
 11.0,
 ...]

In [95]:
col_str_to_float(data_2020, 'YHP')

In [96]:
col_str_to_float(data_2020, 'FDP')

In [20]:
data_2020.dtypes

week         int64
Oppt        object
DKP        float64
Price      float64
FDP        float64
Price_f    float64
YHP        float64
Price_y    float64
Name        object
Team        object
Pos         object
dtype: object

In [21]:
data_2020.groupby(['week','Pos'])['DKP','FDP', 'YHP'].agg('mean')

<ipython-input-21-4c979bf276ae>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2020.groupby(['week','Pos'])['DKP','FDP', 'YHP'].agg('mean')

                DKP        FDP        YHP
week Pos
1    QB   17.822778  10.743448  10.743448
     RB    8.735484   5.263971   5.263971
     TE    5.912308   2.983495   2.983495
     WR    8.586331   4.727273   4.727273
2    QB   18.774595  11.663571  11.663571
...             ...        ...        ...
16   WR    8.608058   5.448977   5.448977
17   QB   16.131905  11.773455  11.773455
     RB    8.828090   6.155263   6.155263
     TE    6.301667   3.909211   3.909211
     WR    9.273478   6.149036   6.149036

[68 rows x 3 columns]

In [64]:
data_2020.groupby('Pos')['DKP','FDP', 'YHP'].agg(['mean','std'])

<ipython-input-64-7bbc2c5a0f9b>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2020.groupby('Pos')['DKP','FDP', 'YHP'].agg(['mean','std'])

           DKP                   FDP                   YHP
          mean        std       mean        std       mean        std
Pos
QB   16.501175  10.508890  10.291587  10.851620  10.291587  10.851620
RB    8.451298   8.435341   5.147855   7.140356   5.147855   7.140356
TE    6.412137   6.317265   3.489927   4.951116   3.489927   4.951116
WR    8.707751   8.598681   5.195989   6.729957   5.195989   6.729957

In [65]:
data_2020.groupby('Pos')['Price','Price_f', 'Price_y'].agg(['mean', 'std'])

<ipython-input-65-3506f571dc38>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2020.groupby('Pos')['Price','Price_f', 'Price_y'].agg(['mean', 'std'])

           Price                   Price_f                 Price_y
            mean          std         mean          std       mean       std
Pos
QB   5245.415596  1046.603988  6706.706282   844.964605  23.980359  5.541186
RB   4688.971554  1113.085298  5316.088061  1157.402314  14.250331  6.458178
TE   3068.302312   957.522961  4561.685824   780.982197  11.710227  3.734678
WR   4060.753031  1372.519103  5232.250301  1002.038663  13.903391  5.880866

In [30]:
data_2020.groupby('Name')['DKP','FDP', 'YHP'].agg('sum').sort_values('DKP',ascending=False).head(20)

<ipython-input-30-f0e805fe26f9>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2020.groupby('Name')['DKP','FDP', 'YHP'].agg('sum').sort_values('DKP',ascending=False).head(20)

                       DKP     FDP     YHP
Name
Josh Allen          436.04  405.54  405.54
Deshaun Watson      409.32  376.32  376.32
Patrick Mahomes II  408.80  379.80  379.80
Kyler Murray        406.74  390.74  390.74
Aaron Rodgers       405.26  387.76  387.76
Russell Wilson      391.78  372.78  372.78
Alvin Kamara        383.80  336.30  336.30
Davante Adams       380.40  300.90  300.90
Tom Brady           371.92  349.92  349.92
Justin Herbert      367.84  342.84  342.84
Derrick Henry       365.10  323.60  323.60
Dalvin Cook         364.80  315.80  315.80
Ryan Tannehill      361.28  350.78  350.78
Lamar Jackson       351.78  341.78  341.78
Stefon Diggs        349.60  265.10  265.10
Kirk Cousins        339.20  319.20  319.20
Tyreek Hill         337.90  285.40  285.40
Travis Kelce        331.76  260.26  260.26
Matt Ryan           311.44  293.44  293.44
DeAndre Hopkins     310.80  230.30  230.30

In [97]:
eff = data_2020
eff['FDP/$'] = eff['FDP']/eff['Price']
eff['DKP/$'] = eff['DKP']/eff['Price']
eff['YHP/$'] = eff['YHP']/eff['Price']
eff.head(10)

,week,Oppt,DKP,Price,FDP,Price_f,YHP,Price_y,Name,Team,Pos,FDP/$,DKP/$,YHP/$
0,1,nyj,33.18,6500.0,28.18,7900.0,28.18,31.0,Josh Allen,Buffalo Bills,QB,0.004335,0.005105,0.004335
1,2,@ mia,37.48,6700.0,34.48,8200.0,34.48,35.0,Josh Allen,Buffalo Bills,QB,0.005146,0.005594,0.005146
2,3,lar,36.24,6900.0,32.24,8100.0,32.24,36.0,Josh Allen,Buffalo Bills,QB,0.004672,0.005252,0.004672
3,4,@ lvr,25.42,7300.0,25.42,8600.0,25.42,40.0,Josh Allen,Buffalo Bills,QB,0.003482,0.003482,0.003482
4,5,@ ten,18.32,7500.0,18.32,8400.0,18.32,37.0,Josh Allen,Buffalo Bills,QB,0.002443,0.002443,0.002443
5,6,kan,16.08,7900.0,16.08,8600.0,16.08,37.0,Josh Allen,Buffalo Bills,QB,0.002035,0.002035,0.002035
6,7,@ nyj,20.38,7700.0,16.38,8800.0,16.38,37.0,Josh Allen,Buffalo Bills,QB,0.002127,0.002647,0.002127
7,8,nwe,13.46,7000.0,13.46,8200.0,13.46,34.0,Josh Allen,Buffalo Bills,QB,0.001923,0.001923,0.001923
8,9,sea,39.00,7000.0,36.00,8200.0,36.00,35.0,Josh Allen,Buffalo Bills,QB,0.005143,0.005571,0.005143
9,10,@ ari,29.36,7500.0,28.86,8700.0,28.86,39.0,Josh Allen,Buffalo Bills,QB,0.003848,0.003915,0.003848

In [98]:
eff.groupby('Pos')['FDP/$','DKP/$','YHP/$'].agg('mean')

<ipython-input-98-89a2dfe97c69>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  eff.groupby('Pos')['FDP/$','DKP/$','YHP/$'].agg('mean')

        FDP/$     DKP/$     YHP/$
Pos
QB   0.001779  0.002727  0.001779
RB   0.001045  0.001637  0.001045
TE   0.001061  0.001829  0.001061
WR   0.001201  0.001896  0.001201

In [106]:
data_2020

,week,Oppt,DKP,Price,FDP,Price_f,YHP,Price_y,Name,Team,Pos,FDP/$,DKP/$,YHP/$
0,1,nyj,33.18,6500.0,28.18,7900.0,28.18,31.0,Josh Allen,Buffalo Bills,QB,0.004335,0.005105,0.004335
1,2,@ mia,37.48,6700.0,34.48,8200.0,34.48,35.0,Josh Allen,Buffalo Bills,QB,0.005146,0.005594,0.005146
2,3,lar,36.24,6900.0,32.24,8100.0,32.24,36.0,Josh Allen,Buffalo Bills,QB,0.004672,0.005252,0.004672
3,4,@ lvr,25.42,7300.0,25.42,8600.0,25.42,40.0,Josh Allen,Buffalo Bills,QB,0.003482,0.003482,0.003482
4,5,@ ten,18.32,7500.0,18.32,8400.0,18.32,37.0,Josh Allen,Buffalo Bills,QB,0.002443,0.002443,0.002443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,13,@ ari,-1.00,3000.0,-2.00,4500.0,-2.00,10.0,Nsimba Webster,Los Angeles Rams,WR,-0.000667,-0.000333,-0.000667
9547,14,nwe,0.00,3000.0,0.00,4500.0,0.00,10.0,Nsimba Webster,Los Angeles Rams,WR,0.000000,0.000000,0.000000
9548,15,nyj,0.00,3000.0,0.00,4500.0,0.00,10.0,Nsimba Webster,Los Angeles Rams,WR,0.000000,0.000000,0.000000
9549,16,@ sea,0.00,3000.0,0.00,4500.0,0.00,10.0,Nsimba Webster,Los Angeles Rams,WR,0.000000,0.000000,0.000000
9550,17,ari,0.00,3000.0,0.00,4500.0,0.00,10.0,Nsimba Webster,Los Angeles Rams,WR,0.000000,0.000000,0.000000

In [118]:
qb_data = eff[eff['Pos'] == 'QB']

In [123]:
qb_data.groupby('Name')['FDP/$'].agg('mean').sort_values(ascending = False)[:10]

Name
Dak Prescott      0.003941
Josh Allen        0.003538
Ryan Tannehill    0.003497
Aaron Rodgers     0.003418
Kyler Murray      0.003398
Deshaun Watson    0.003356
Tom Brady         0.003343
Kirk Cousins      0.003308
Justin Herbert    0.003302
Derek Carr        0.003174
Name: FDP/$, dtype: float64

In [131]:
qb_data.groupby('Name')['FDP'].agg('mean').sort_values(ascending = False)[:10]

Name
Dak Prescott          27.82800
Josh Allen            25.34625
Kyler Murray          24.42125
Aaron Rodgers         24.23500
Patrick Mahomes II    23.73750
Deshaun Watson        23.52000
Russell Wilson        23.29875
Ryan Tannehill        21.92375
Tom Brady             21.87000
Justin Herbert        21.42750
Name: FDP, dtype: float64

In [124]:
wr_data = eff[eff['Pos'] == 'WR']

In [125]:
wr_data.groupby('Name')['FDP/$'].agg('mean').sort_values(ascending = False)[:10]

Name
Justin Jefferson    0.002436
Chase Claypool      0.002413
Tyreek Hill         0.002365
Curtis Samuel       0.002364
Nelson Agholor      0.002356
Marvin Jones        0.002280
Stefon Diggs        0.002278
CeeDee Lamb         0.002248
Brandin Cooks       0.002215
Darnell Mooney      0.002210
Name: FDP/$, dtype: float64

In [132]:
wr_data.groupby('Name')['FDP'].agg('mean').sort_values(ascending = False)[:10]

Name
Davante Adams       18.806250
Tyreek Hill         17.837500
Stefon Diggs        16.568750
Calvin Ridley       14.781250
DeAndre Hopkins     14.393750
Justin Jefferson    14.387500
D.K. Metcalf        14.362500
Adam Thielen        13.562500
Will Fuller         13.533333
Tyler Lockett       13.462500
Name: FDP, dtype: float64

In [133]:
wr_data.groupby('Name')['FDP'].agg('sum').sort_values(ascending = False)[:10]

Name
Davante Adams       300.9
Tyreek Hill         285.4
Stefon Diggs        265.1
Calvin Ridley       236.5
DeAndre Hopkins     230.3
Justin Jefferson    230.2
D.K. Metcalf        229.8
Adam Thielen        217.0
Tyler Lockett       215.4
Mike Evans          213.6
Name: FDP, dtype: float64

In [126]:
rb_data = eff[eff['Pos'] == 'RB']

In [127]:
rb_data.groupby('Name')['FDP/$'].agg('mean').sort_values(ascending = False)[:10]

Name
Alvin Kamara        0.002686
Dalvin Cook         0.002563
Derrick Henry       0.002492
James Robinson      0.002487
Joe Mixon           0.002466
David Montgomery    0.002429
Jonathan Taylor     0.002299
Antonio Gibson      0.002228
Nyheim Hines        0.002226
Aaron Jones         0.002172
Name: FDP/$, dtype: float64

In [134]:
rb_data.groupby('Name')['FDP'].agg('mean').sort_values(ascending = False)[:10]

Name
Dalvin Cook            21.053333
Alvin Kamara           21.018750
Derrick Henry          20.225000
Christian McCaffrey    16.360000
Aaron Jones            15.693333
Nick Chubb             15.361538
James Robinson         15.060000
David Montgomery       14.862500
Joe Mixon              14.850000
Jonathan Taylor        14.675000
Name: FDP, dtype: float64

In [135]:
rb_data.groupby('Name')['FDP'].agg('sum').sort_values(ascending = False)[:10]

Name
Alvin Kamara        336.3
Derrick Henry       323.6
Dalvin Cook         315.8
David Montgomery    237.8
Aaron Jones         235.4
Jonathan Taylor     234.8
James Robinson      225.9
Josh Jacobs         214.7
Nick Chubb          199.7
Kareem Hunt         199.5
Name: FDP, dtype: float64

In [128]:
te_data = eff[eff['Pos'] == 'TE']

In [130]:
te_data.groupby('Name')['FDP/$'].agg('mean').sort_values(ascending = False)[:10]

Name
Robert Tonyan       0.002629
Logan Thomas        0.002461
C.J. Uzomah         0.002461
Darren Waller       0.002301
O.J. Howard         0.002290
Travis Kelce        0.002270
Dallas Goedert      0.002076
Jimmy Graham        0.002051
Dalton Schultz      0.001975
Dominique Dafney    0.001920
Name: FDP/$, dtype: float64

In [139]:
data_2020.groupby('week')['FDP'].agg('sum')

week
1     2582.32
2     2778.96
3     2670.56
4     2540.68
5     2272.36
6     2140.52
7     2357.70
8     2166.72
9     2402.20
10    2052.40
11    2179.10
12    2286.76
13    2522.78
14    2480.86
15    2662.44
16    2680.88
17    2667.08
Name: FDP, dtype: float64

In [142]:
rb_data.groupby('week')['FDP'].agg('sum')

week
1     715.9
2     767.8
3     706.3
4     663.7
5     587.4
6     528.5
7     550.5
8     604.5
9     543.3
10    595.6
11    534.7
12    624.3
13    578.2
14    654.1
15    729.9
16    713.8
17    701.7
Name: FDP, dtype: float64

In [3]:
test = pd.DataFrame()

In [5]:
test2 = pd.DataFrame(['Gold', 'Gold', 'Silver', 'Silver'])
pd.concat([test,test2], axis = 0)

        0
0    Gold
1    Gold
2  Silver
3  Silver